* {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 20px;
}

.container {
  display: flex;
  gap: 40px;
}
.content {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.sidebar {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.banner {
  background-color: #555;
  height: 400px;
}

.tab {
  display: flex;
  gap: 10px;
  height: 30px;
}

.box {
  background-color: #999;
  cursor: pointer;
}

.content .tab {
  justify-content: flex-start;
}

.content .tab .box:first-child {
  background-color: #555;
}

.content .box {
  width: 100px;
}

.sidebar .tab {
  justify-content: flex-end;
}
.sidebar .banner {
  background-color: #999;
}

.sidebar .box {
  width: 20px;
  height: 20px;
}
