* {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 20px;
}

.container {
  display: flex;
  gap: 40px;
}
.content {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.sidebar {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.banner {
  background-color: #555;
  height: 400px;
}

.tab {
  display: flex;
  gap: 10px;
  height: 30px;
}

.box {
  background-color: #999;
  cursor: pointer;
}

.content .tab {
  justify-content: flex-start;
}

.content .tab .box:first-child {
  background-color: #555;
}

.content .box {
  width: 100px;
}

.sidebar .tab {
  justify-content: flex-end;
}
.sidebar .banner {
  background-color: #999;
}

.sidebar .box {
  width: 20px;
  height: 20px;
}

.items-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.content .items-content .item {
  /*
   Dynamic sizing for 5 elements to fit the parent container...
   Using 100% / 5 = 20% for each element
   The value 16 is an adjustment through trial and error to fit the box properly ;)
   */
  width: calc(20% - 16px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content .items-content .image {
  background-color: #ccc;
  aspect-ratio: 1;
}

.content .items-content .text {
  height: 8px;
  background-color: #e0e0e0;
  margin-bottom: 2px;
}

.sidebar .items-content {
  flex-direction: column;
  gap: 10px;
}

.sidebar .item {
  display: flex;
  gap: 10px;
}

.sidebar .image {
  background-color: #ccc;
  height: 120px;
  width: 120px;
}

.sidebar .text-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar .text {
  height: 8px;
  background-color: #e0e0e0;
}

.sidebar .bar {
  height: 20px;
  background-color: #999;
  margin-bottom: 10px;
}
